<nav class="sub-nav clearfix">
  <h4 class="community-heading">
    {{t 'community'}}
  </h4>
  <div class="ch_h-search-form_container pt-3 pb-3">
    {{search instant=true placeholder='Search our FAQs'}}
  </div>
</nav>

<nav class="community-nav">
  <ul>
    <li>{{link 'topics'}}</li>
    <li>{{t 'posts'}}</li>
    <li>{{link 'new_post' role='button'}}</li>
  </ul>
</nav>

<div class="clearfix">
  <div class="main-column">

    {{!--
    ** NEW COMMUNITY SNIPPET **
    Please uncomment these lines if you want to allow your users to filter posts by status
    <span class="topic-filters">
      <span class="dropdown">
        <span class="dropdown-toggle">
          {{current_filter.label}}
        </span>
        <span class="dropdown-menu" role="menu">
          {{#each filters}}
            <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
              {{name}}
            </a>
          {{/each}}
        </span>
      </span>
    </span>
    --}}

    <nav class="community-sub-nav">
      <ul>
        {{#each sorters}}
          <li>
            {{#if selected}}
              {{name}}
            {{else}}
              <a href="{{url}}">
                {{name}}
              </a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>

    {{#if posts}}
      <ul class="question-list">
        {{#each posts}}
          <li class="question {{#if has_official_comment}} question-official-answer {{/if}} {{#if featured}} post-featured {{/if}} {{#if pinned}} post-pinned {{/if}}">
            <h3 class="question-title">
              <a href="{{url}}">{{title}}</a>
            </h3>
            <div class="question-meta">
              <span class="question-author">
                {{#link 'user_profile' id=author.id}}
                  {{author.name}}
                {{/link}}
              </span>
              <span class="question-published">
                {{date created_at timeago=true}}
              </span>
              <span class="question-votes">
                {{vote_sum}} {{t 'vote' count=vote_sum}}
              </span>
              <span class="question-answers">
                {{comment_count}} {{t 'comment' count=comment_count}}
              </span>
              {{! Show the post status, if any }}
              {{#is status 'none'}}
              {{else}}
                <span class="post-{{status_dasherized}}">{{status_name}} </span>
              {{/is}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{t 'no_content'}}</p>
    {{/if}}

    {{pagination}}

  </div>
</div>
