<nav class="sub-nav clearfix">
  {{breadcrumbs}}
  <div class="ch_h-search-form_container pt-3 pb-3">
    {{search submit=false class='search-small' instant=true placeholder='Search our FAQs'}}
  </div>
</nav>

<div class="clearfix">

  <section class="main-column">
    <h1>{{t 'submit_a_request'}}{{#if parent}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}</h1>
    
    <div class="form">
      {{request_form}}
    </div>
  </section>

</div>

{{chat}}